<html lang="en">
        <head>
          <title>Bootstrap Example</title>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          
<script src="https://www.gstatic.com/firebasejs/4.13.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAMefisQE3EzJdy_4ZTYLClFtUbAOIgD2Q",
    authDomain: "batchsearching.firebaseapp.com",
    databaseURL: "https://batchsearching.firebaseio.com",
    projectId: "batchsearching",
    storageBucket: "batchsearching.appspot.com",
    messagingSenderId: "164840990144"
  };
  firebase.initializeApp(config);
</script>
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
        </head>
        <body>
               <!-- <div class="title">
                    <div class="knockout">
                        <a>BATCH SEARCHING!</a>
                      </div>
                    </div>-->
                    <app-searching></app-searching>
        </body>
</html>
