@import url(https://fonts.googleapis.com/css?family=Bangers);

.knockout {

    text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-size:5em;
  white-space: nowrap;
  font-size: 8vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  margin: 0 auto;
    
  }
  body{
    background-color: #444;
}
#extension
{
  color:white
}
