#selection{
    width: 15%;
    height:20%;
    align-content: center;
    margin-left: 1%;
}
#mainsearch{
    padding-bottom: 0.005%;
}
#upper{
    margin: auto;
    width:40%;
    position: center;
    margin-bottom: 5%;
}
body{
    background-color: #444;
}
#input-group{
    width: 40%;
}
#plusButton{
    margin-left: 1%;
}
#downer{
    margin: auto;
    width:40%;
    position: center;
    margin-bottom: 1%;
}
#searchB{
    margin-left: 1%;
}
#keyword{
    width:50%
}
#search{
    width:50%
}
#tableH{
    font-size: 15px;
    
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    border:1px solid grey
  }

  .mat-column-url{
    border-right:1px solid grey;
  align-self: stretch;
  }
  .mat-column-url2{
    border-right:1px solid grey;
  align-self: stretch;
  }
    .mat-column-name{
    border-right:1px solid grey;
  align-self: stretch;
  }

  .mat-row
  {
      border:1px solid grey
  }
  .mat-cell
  {
      text-align: center
  }

  
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    
        margin:25% auto;
        

      }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }