@import url(https://fonts.googleapis.com/css?family=Bangers);

.knockout {

    text-align: center;
  font-weight: normal;
  color: #fff;
  text-transform: uppercase;
  font-size:5em;
  white-space: nowrap;
  font-size: 8vw;
  z-index: 1000;
  font-family: 'Bangers', cursive;
  text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7);
  margin: 0 auto;
    
  }
#selection{

    height:20%;
    width:26%;
    align-content: center;
    margin-left: 1%;
}
#mainsearch{
    padding-bottom: 0.005%;
    margin-left: 30%;
    
}
#upper{
    margin: auto;
    width:40%;
    position: center;
    margin-bottom: 5%;
}
body{
    background-color: #444;
}
#input-group{
    width: 40%;
}
#plusButton{
    margin-left: 1%;
    
}
#downer{
    margin: auto;
    position: center;
    margin-bottom: 1%;
}
#searchB{
    margin-left: 3%;

}
#keyword{
    width:50%
}
#search{
    width:50%
}
#tableH{
    font-size: 15px;
    
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    border:1px solid grey
  }

  .mat-column-url{
    border-right:1px solid grey;
  align-self: stretch;
  }
  .mat-column-url2{
    border-right:1px solid grey;
  align-self: stretch;
  }
    .mat-column-name{
    border-right:1px solid grey;
  align-self: stretch;
  }
  .mat-column-otherSearch1
  {
    border-right:1px solid grey;
    align-self: stretch;
  } 
  
  .mat-row
  {
      border:1px solid grey
  }
  .mat-cell
  {
      text-align: center
  }
    
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #33cc33;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
    
        margin:35% auto;
        

      }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      #sup{
          color: #fff;
      }