    <div class="top">
        <p><b>choice: </b><input #choice class="box2"/><br>
          <b>type: </b><input #type class="box2"/> </p> 
      <button #plus class="plus">+</button>    
    </div> 
 <div> 
  <b> your search: </b><input #box class="box"/>
  <button #but (click)="onSave(box.value,type.value,choice.value)">Search</button>
</div>
  <div *ngIf = "pressed==true">

    <div *ngFor="let item of results;let i = index">
            <table style="width:100%">
                    <tr>
                       <th><h3>{{allSearch[i]}}</h3></th> 
                       <th class="clm1">
                            <div *ngIf = "typed=='trailer'">
                                <iframe [src]="item" width="200" height="200" frameborder="0" allowfullscreen></iframe>
                            </div>
                            <div *ngIf = "typed=='photo'">
                                    <img [src]="item" width="200" height="200" frameborder="0" allowfullscreen>
                            </div>
                            <div *ngIf = "typed=='review'">
                                    {{item}}
                            </div>
                            <div *ngIf = "typed=='map'">
                                    <iframe width="200" height="200" frameborder="0" style="border:0"
                                    [src]="item" allowfullscreen></iframe>
                             </div>
                       </th>
                    </tr>
                </table>
    </div> 
</div>


  